<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Café sourire</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos, voluptas, vel ipsa provident consectetur
        blanditiis rem iure possimus quas explicabo animi odit esse? Dolore laboriosam labore voluptatibus eveniet
        tenetur.</p>
</body>

</html>