<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>☕ Café sourire</h1>
        <section class="dialogue">
            <p>Serveuse : Bonjour joli <span class="highlight">{{ genre }}</span>, comment vous appelez-vous ?</p>
            <p>Vous : Je m'appelle <span class="highlight">{{ prenom }}</span>.</p>
            <p>Serveuse : <span class="highlight">{{ prenom }}</span>, bienvenue dans notre café.<br>
                Que voulez-vous commander ?</p>
            <p>Vous : J'aimerais <span class="highlight">{{ commande }}</span>.</p>
            <p>Serveuse : Votre <span class="highlight">{{ commande }}</span> sera bientôt prêt.</p>
        </section>

        <hr>

        <p class="time">⏳ 5 minutes plus tard...</p>

        <hr>

        <section class="dialogue">
            <p>Serveuse : Votre <span class="highlight">{{ commande }}</span> est prête. Bon appétit !</p>
            <p>Vous : Merci 😋</p>
        </section>
    </div>
</body>

</html>