<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Café sourire</h1>
    <p>Bonjour joli {{ genre }}, comment vous appelez-vous ?</p>
    <p>Je m'appelle {{ prenom }}.</p>
    <p>{{ prenom }}, bienvenue dans notre café. <br> Que voulez-vous commander ?</p>
    <p>J'aimerais {{ commande }}</p>
    <p>Votre {{ commande }} sera bientôt prêt.</p>
    <hr>
    <p>5 minutes plus tard</p>
    <hr>
    <p>Votre {{ commande }} est prête. Bon appétit.</p>
    <p>Merci.</p>
</body>

</html>